body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #09f;
  place-content: center;
  margin-top: 200px;
}

.box {
  width: 120px;
  height: 120px;
  border-radius: 4px;
  background: #fff;
}
